header {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.switch {
    margin-bottom: 5rem;
}
.nav-tabs {
    margin-bottom: 1rem;
}
.form-label {
    margin-top: 1rem;
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;

}
.adress-option {
    margin-top: 0.5rem;
}

.big-btn {
    width: 100%;
    margin-bottom: 1rem;
}